[**@burnmark-io/designer-core**](../README.md)

***

[@burnmark-io/designer-core](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [packages/core/src/types.ts:23](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L23)

## Properties

### errors?

> `optional` **errors?**: `string`[]

Defined in: [packages/core/src/types.ts:28](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L28)

***

### missing

> **missing**: `string`[]

Defined in: [packages/core/src/types.ts:25](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L25)

***

### unused

> **unused**: `string`[]

Defined in: [packages/core/src/types.ts:26](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L26)

***

### valid

> **valid**: `boolean`

Defined in: [packages/core/src/types.ts:24](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L24)

***

### warnings

> **warnings**: `string`[]

Defined in: [packages/core/src/types.ts:27](https://github.com/burnmark-io/designer-core/blob/4e00ab002e4c2068b61e066bf4d265b07b30c871/packages/core/src/types.ts#L27)
